
.hidden {
    display: none;
}

#options-container button.correct {
    background-color: #f0fdf4; /* green-50 */
    border-color: #22c55e; /* green-500 */
    color: #15803d; /* green-800 */
}

#options-container button.incorrect {
    background-color: #fef2f2; /* red-50 */
    border-color: #ef4444; /* red-500 */
    color: #b91c1c; /* red-800 */
}

#options-container button.disabled {
    background-color: #f8fafc; /* slate-50 */
    color: #64748b; /* slate-500 */
    cursor: not-allowed;
}

#feedback-container.correct-feedback {
    background-color: #f0fdf4; /* green-50 */
    border-left: 4px solid #22c55e; /* green-500 */
}

#feedback-container.incorrect-feedback {
    background-color: #fef2f2; /* red-50 */
    border-left: 4px solid #ef4444; /* red-500 */
}
